{% assign post = include.post %}
<article class="post">
  {% unless post.show_title == false %}
    <header class="post__header center container container--narrow">
      <h2><a href="{{ post.url }}">{{ post.title | smartify }}</a></h2>
    </header>
  {% endunless %}
  <section class="longform">
    {{ post.content | markdownify }}
  </section>
  <footer class="center">
    {% if post.date %}
      {% assign date_format = site.date_format | default: '%-d %b %Y' %}
      <a href="{{ post.url }}" class="shh"><time datetime="{{ post.date | date_to_xmlschema }}" class="light">{{ post.date | date: date_format }}</time></a>
    {% endif %}
    {% if post.tags %}
      {% capture tags %}
        <ul class="inline-list inline-block">
          {% for post_tag in post.tags %}
            {% if post.collection == 'posts' %}
              {% for site_tag in site.blog_tags %}
                {% if site_tag.title == post_tag %}
                  <li><a href="{{ site_tag.permalink }}" class="light shh">#{{ site_tag.title }}</a></li>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      {% endcapture %}{{ tags |  normalize_whitespace | replace: '> <', '><' }}
    {% endif %}
  </footer>
</article>
