---
---

@charset "utf-8";

// imports
// -------

@import 'fonts';
@import 'reset';
@import 'mixins';
@import 'variables';

// base
// ----

*,
*:before,
*:after {
  @include box-sizing(inherit);
}
html,
body {
  overflow-x: hidden;
}
html {
  height: 100%;
  @include box-sizing(border-box);
  font-size: $font-size--html;
}
body {
  font-family: $font-family--body;
  font-weight: $font-weight--body;
  font-size: 1em;
  line-height: $line-height--body;
  overflow-x: hidden;
}
img,
video,
iframe {
  @include responsive-image;
}
a {
  text-decoration: underline;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
  &.shh {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
strong,
b {
  font-weight: 700;
}
em,
i {
  font-style: italic;
}

// grid
// ----

.container {
  width: 100%;
  @include margin-center;
}
.container--padded,
.container--narrow,
.container--wide {
  padding-left: $gutter;
  padding-right: $gutter;
}
.container--narrow {
  max-width: $max-width--container--narrow;
}
.container--wide {
  max-width: $max-width--container--wide;
  @include max-width($max-width--md) {
    padding-left: 0;
    padding-right: 0;
  }
}
.row {
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-items(flex-end);
}
.col {
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}
.third {
  width: 1/3*100%;
}

// main, header, and footer
// ------------------------

.main {
  margin-bottom: $v*6;
}
.header {
  margin-top: $v*4;
  margin-bottom: $v*6;
}
.footer {
  margin-top: $v*6;
  margin-bottom: $v*4;
}
.powered-by {
  margin-top: $v;
}

// post
// ----

.post {
  margin-bottom: $v*6;
}
.post__header {
  margin-bottom: $v;
}
.longform {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  pre,
  img,
  video,
  iframe {
    margin-bottom: $v;
  }
  h1,
  h2 {
    font-weight: $font-weight--bold;
  }
  h4,
  h6 {
    font-style: italic;
  }
  h1,
  h2,
  h3 {
    margin-top: $v*2;
  }
  h5,
  h6 {
    opacity: $opacity--light;
  }
  img,
  video,
  iframe {
    @include margin-center;
  }
  small,
  .caption {
    opacity: $opacity--light;
  }
  .caption {
    margin-top: -$v*1.5;
    margin-bottom: $v*2;
    text-align: center;
  }
  hr {
    border: 0;
    height: $v;
    margin-top: $v*2;
    margin-bottom: $v*2;
    background: inherit;
    text-align: center;
    &:after {
      content: '· · ·';
    }
  }
  ol,
  ul {
    padding-left: ($char*2 + $gutter) !important;
  }
  ol {
    counter-reset: decimal-counter;
  }
  ol li:before,
  ul li:before {
    padding-right: 0.6rem;
    position: absolute;
    width: 2rem;
    margin-left: -2rem;
    text-align: right;
  }
  ol li:before {
    content: counter(decimal-counter);
    counter-increment: decimal-counter;
  }
  ul li:before {
    content: '-';
  }
  blockquote {
    font-style: italic;
    padding-left: ($char*2 + $gutter) !important;
    em {
      font-style: normal;
    }
  }
  > * {
    @extend .container;
  }
  > *:not(.wide):not(.full) {
    @extend .container--narrow;
  }
  > .wide {
    @extend .container--wide;
  }
}
pre,
code,
kbd,
samp {
  overflow: auto;
  white-space: pre;
}
.footnotes {
  opacity: $opacity--light;
  margin-top: $v*2;
  &:before {
    content: '———';
  }
  ol {
    padding-left: $char*2 !important;
  }
}
sup {
  font-size: $font-size--small;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

// archive
// -------

.archive-item + .archive-month {
  margin-top: $v;
}

// utilities
// ---------

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.light {
  opacity: $opacity--light;
}
.caps {
  text-transform: uppercase;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.inline-list {
  li {
    display: inline-block;
    &:not(:last-of-type) {
      margin-right: $char*2; // TO DO: make equal to 2*char
    }
  }
}
